@import "tailwindcss";

/* 🎨 Variables CSS globales */
:root {
  --color-primary: #DAE8FB;
  /* Azul claro (Base) */
  --color-secondary: #4fd1c5;
  /* Verde claro (para acentos o elementos secundarios) */
  --color-dark: #0d7f75;
  /* Azul oscuro (para texto o detalles) */
  --color-error: #9d101a;
  /* Rojo (para errores o advertencias) */
  --color-light: #f4f9f9;
  /* Color suave para fondos o elementos neutros */
  --color-darkNeutral: #1c2b2b;
  /* Color oscuro neutro para texto o detalles */
  --color-musgo: #d4e6d4;
  --color-musgo2: #A9D0A9;
}

/* 🚀 Clases utilitarias personalizadas */
@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .bg-dark {
    background-color: var(--color-dark);
  }

  .bg-error {
    background-color: var(--color-error);
  }

  .bg-light {
    background-color: var(--color-light);
  }

  .bg-darkNeutral {
    background-color: var(--color-darkNeutral);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .text-dark {
    color: var(--color-dark);
  }

  .text-error {
    color: var(--color-error);
  }

  .text-light {
    color: var(--color-light);
  }

  .text-darkNeutral {
    color: var(--color-darkNeutral);
  }

  .bg-musgo {
    background-color: var(--color-musgo);
  }

  .bg-musgo2 {
    background-color: var(--color-musgo2);
  }

  .text-musgo {
    color: var(--color-musgo);
  }

  .text-musgo2 {
    color: var(--color-musgo2);
  }

  .hover\:bg-musgo2:hover {
    background-color: var(--color-musgo2);
  }

  .hover\:text-musgo2:hover {
    color: var(--color-musgo2);
  }
}